.container {
  width: 22%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.container:hover {
  cursor: pointer;
  background-color: rgba(217, 216, 216, 0.468);
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(223, 89, 89);
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(102, 99, 99);
}
.desc {
  text-align: center;
  color: gray;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
  .price,
  .desc {
    font-size: 24px;
  }
}
